<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="calculator_v1">
  <test thread-count="5" name="CalculatorTest">
    <classes>
      <class name="net.calculator.testCases.TC_001_Calculation"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
